body{
    margin: 0;
    padding: 0;
    background-color: #F7EAD9;
    font-family: Arial, Helvetica, sans-serif;
}

.watermark {
    border: 2px solid #C62828;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 96%;
    margin: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  
    background-image: url('./assets/Logo.jpg');
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: center;
    opacity: 0.9;
    background-blend-mode: lighten;
}

.heading-container{
    display: flex;
    margin: 0% 20%;

}
img{
    width: 80px;
    height: 80px;
    display: inline;
}

h1{
    text-align: center;
    color: #58594F;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgb(0,0,0,0.2);
    padding-left: 40px;
}
h3{
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px 2px rgb(0,0,0,0.2);
    padding-bottom: 10px;
    margin: auto;
}

.Application{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px 30px;
    width: 90%;
    max-width: 1080px;
    margin: 40px auto;
    text-align: left;
}

fieldset{
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 10px;
    border-width: 5px;
    border: 5px solid rgb(198,40,40, 0.8);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(255,255,255,0.9);
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #AA2020;
    margin: 5px;
    text-align: left;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 2px solid #D17B00;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.checkbox-container {
    display:flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox-container input {
    width: auto;
}

input[type = "radio"]{
    width: auto;
    margin-right: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
  
button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 48%;
    text-align: center;
    transition: opacity 0.3s ease;
}

button[type="reset"] {
    background-color: #aa2020;
    color: white;
}
  
button[type="submit"] {
    background-color: #d17b00;
    color: white;
}

button:hover {
    opacity: 0.4;
}

@media screen and (max-width: 768px) {
    .Application {
      width: 95%;
      padding: 20px;
    }
  
    fieldset {
      width: 100%;
    }
  
    .button-container {
      flex-direction: column;
    }
  
    button {
      width: 100%;
      margin-bottom: 10px;
    }
  }