body {
    margin: 0;
    padding: 0;
    /* background-color: #F7EAD9; */
    font-family: Arial, Helvetica, sans-serif;
}

.conatiner {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #D2001A, #7462FF, #F48E21, #9E1563);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: absolute;
    align-items: center;
    margin-left: 150px;
}


.title h1 {
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.2);
    margin-left: 280px;
}

.title h3 {
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

fieldset {
    width: 900px;
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    border: none;
    padding: 20px 20px;
    height: 100vh;
    box-sizing: border-box;
    height: auto;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #AA2020;
    margin: 5px;
    text-align: left;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 2px solid #424b06;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox-container input {
    width: auto;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 48.5%;
    text-align: center;
    transition: opacity 0.3s ease;
}

button[type="reset"] {
    background-color: #aa2020;
    color: white;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #f2752d;
    color: white;
    margin-left: 10px;
}

button:hover {
    opacity: 0.4;
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



@media screen and (max-width: 768px) {
    .Application {
        width: 95%;
        padding: 20px;
    }

    fieldset {
        width: 100%;
    }

    .button-container {
        flex-direction: column;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }
}